.DetailAll {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  .text-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    h1 {
      font-size: 42px;
    }
    .uzz {
      color: green;
    }
    .arr {
      color: red;
    }
  }
  #select {
    top: 0;
    right: 0;
    position: absolute;
    outline: none;
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
  }
  .Link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 22px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .DetailAll {
    .text-name {
      h1 {
        font-size: 36px;
      }
    }
    #select {
      height: 35px;
      width: 80px;
      font-size: 16px;
      padding: 0 10px;
      border-radius: 8px;
    }
  }
}
@media (max-width: 600px) {
  .DetailAll {
    padding-top: 60px;
    gap: 30px;
    .text-name {
      h1 {
        font-size: 34px;
      }
    }
  }
}
@media (max-width: 400px) {
  .DetailAll {
    .text-name {
      h1 {
        font-size: 28px;
      }
    }
  }
}
@media (max-width: 300px) {
  .DetailAll {
    .text-name {
      h1 {
        font-size: 22px;
      }
    }
  }
}
