.surah-uni:hover {
  transform: translateY(-5px);
}

.surah-uni {
  transition: 0.2s;
  .LINK {
    width: 100%;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    font-size: 18px;
    color: green;
    background: #f5e8d0;
    font-weight: 700;
    position: relative;
    padding: 30px 5px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.2s;
  }
}
